@font-face {
  font-family: 'JetBrains Mono', monospace;
  src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
  font-weight: 100 800;
  italic: 0 1;
}

*, *:before, *:after {
  margin: 0;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background: rgb(8,35,34);;
}

#bgImage {
  background: black;
  background-image: url(https://flask-detective-react-frontend.herokuapp.com/images/image1.jpg);
  background-image: url(https://flask-detective-react-frontend.herokuapp.com/images/image2.jpg);
  background-image: url(https://flask-detective-react-frontend.herokuapp.com/images/image3.jpg);
  background-size: cover;
  background-position: 0 bottom;
  background-repeat: no-repeat;
  height: 25vh;
  width: 100%;
  position: fixed;
  top: 0; left: 0;
  padding: 10px 0;
  z-index:60;
}

.header-container {
  width: 66%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 75;
}

.dashboard > nav > ul {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  justify-content: flex-end;
  position: relative;
  z-index: 75;
}

.dashboard > nav > ul > li {
  display: inline-block;
  margin-left: 10px;
}


.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 20vh;
  width: 100%;
  height: 70vh;
  background: whitesmoke;
  z-index: 55;
}

#home {
  background: rgb(8,35,34);
  min-height: 80vh;
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100%;
  z-index: 50;
}

#episodes {
  background: rgb(8,35,34);
  min-height: 80vh;
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100%;
  z-index: 50;
}

#contributors {
  background: rgb(8,35,34);
  min-height: 80vh;
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100%;
  z-index: 50;

}

#characters {
  background: rgb(8,35,34);
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100%;
  z-index: 50;
  min-height: 80vh;
}


main {
  padding: 80px 0;
}

main > section {
  margin: 0 auto;
  width: 66%;
  max-width: 800px;
}

h2, h3, h4, h5, h6 {
  color:limegreen;
  text-transform: capitalize;
}

h1 {
  color: whitesmoke;
  font-size: 6vw;  
  text-shadow: 0 0 8px black;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 4px;
}

h3 {
  color: rgb(8,35,34);
}

h4 {
  color: darkcyan;
  font-size: 16px;
}

h5 {
  color: whitesmoke;
}

p {
  color: whitesmoke;
  font-size: 14px;
  margin-bottom: 3rem;
  line-height: 1.5rem;
}

.mainNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: lime;
  font-weight: 700;
  text-shadow: 0px 0px 4px black;
  text-transform: capitalize;
}


footer {
  background:black;
  position: fixed;
  padding: 20px 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;  
}

footer > p {
  margin: 0 auto;
  font-size: 12px;
}

.footer-container {
  max-width: 800px;
  width: 66%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

}


.epi-viewer {
  padding: 20px 80px;
}

.episode {
  color: whitesmoke;
  margin-bottom: 24px;
  border-left: 1px solid whitesmoke;
  padding-left: 8px;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.episode_link {
  text-transform: capitalize;
}

.episode_link:hover {
  cursor: pointer;
}

.episode_full {
  background: whitesmoke;
  padding: 24px;
  margin: 16px 0;
}

.episode_full > h4 {
  font-size: 24px;
}

.episode_full > h5 {
  color: seagreen;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 12px;
}

.episode_closer {
  margin: 0 0 24px 0;
}

button {
  padding: 4px 8px;
  background:whitesmoke;
  margin-right: 16px;
}

button:last-child {
  margin-right: 0;
}

.episodeCreator {
  padding: 20px 40px;
  background: whitesmoke;
  margin: 0 0 16px 0;
}

.episodeCreator h5 {
  font-size: 14px;
  margin: 4px 0;
}

.episodeForm > input {
  width: 100%;
  padding: 4px;
  background: whitesmoke;
  margin-bottom: 8px;
  font-family: 'JetBrains Mono', monospace;
}

.episodeForm > input:focus {
  background: whitesmoke;
  width: 100%;
}

.episodeForm > input[type="submit"] {
  display: inline-block;
  margin-right: 16px;
  background: whitesmoke;
  width: 100%;
}

.episodeForm > textarea {
  width: 100%;
  min-height: 160px;
  padding: 4px;
  resize: vertical;
  background: whitesmoke;
  font-family: 'JetBrains Mono', monospace;
}

.episodeForm > fieldset {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
  border: none;
}

.episodeForm > fieldset > label {
  margin-right: 12px;
  font-size: 14px;
}

.dashboard ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dashboard > nav > ul {
  width: 400px;
}

.episodeForm {
  width: 100%;
}


.plot {
  color: black;
}

li.dash {
  color: black;
  background: whitesmoke;
  padding: 4px 12px;
  border-radius: 12px;
  font-size:12px;
}

li.greet {
  color:whitesmoke;
  text-transform: capitalize;
  font-weight: 700;
  text-shadow: 0 0 2px black;
  margin-top: 4px;
}

.writers-li {
  color: whitesmoke;
}

.main-section-title {
  margin-bottom: 2rem;
}

.list-p {
  margin-bottom: 1rem;
}

.toggle-content {
  display: none;
  z-index: 0;
}

.toggle-content.is-visible {
  display: block;
  z-index: 50;
}

.portrait > img {
  height: 200px;
  width: auto;
}

.portrait {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid whitesmoke;
  margin: 10px 0;
}

.portrait-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 auto;
  width: 66%;
  max-width: 800px;
  
}