*, *:before, *:after {
  margin: 0;
}

.App {
  background: rgb(227, 218, 189);
  height: 100vh;
}

header {
  background: darkgoldenrod;
  padding: 20px 80px;
}

main {
  background: rgb(72, 108, 130);
  padding: 20px 80px;
}

h2, h3, h4, h5, h6 {
  color:darkgoldenrod;
  margin: 0;
  text-transform: capitalize;
}

h1 {
  color: rgb(227, 218, 189);
}

p {
  color: rgb(227, 218, 189);
  font-size: 14px;
}

footer {
  background:rgb(79, 58, 6);
  padding: 20px 80px;
}

span {
  color: rgb(140, 206, 246);
}

.epi-viewer {
  padding: 20px 80px;
}

.sub-footer {
  height: 100px;
  width: 100%;
  background: rgb(206, 108, 2);
  position:absolute;
  bottom:0;
  left: 0;
}
.episode {
  color: rgb(206, 108, 2);
  margin-bottom: 24px;
  border-left: 1px solid rgb(227, 218, 189);
  padding-left: 8px;
}

