*, *:before, *:after {
  margin: 0;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

header {
  background-image: url('http://localhost:3000/images/alexandre-debieve-kjmf-eRkl2A-unsplash.jpg');
  background-image: url('http://localhost:3000/images/sebastian-pociecha-M8NSkgzPMLY-unsplash.jpg');
  /* background-image: url('http://localhost:3000/images/sebastian-pociecha-kGjbCVsHRbg-unsplash.jpg'); */
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position:fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 10;
}

#home {
  position: sticky;
  top: 33vh; left: 0;
  width: 100%;
  min-height: 100vh;
  background: darkcyan;
}

main {
  background: black;
  padding: 30px 80px;
}

h2, h3, h4, h5, h6 {
  color:rgb(5, 201, 132)
  ;
  margin: 0;
  text-transform: capitalize;
}

h1 {
  color: whitesmoke;
  font-size: 48px;
}

h2 {
  font-size: 18px;
}

p {
  color: whitesmoke;
  font-size: 14px;
  margin-bottom: 24px;
}

.user-section {
  margin-top: 33vh;
}

.mainNav {
  background: black;
  width: 100%;
  padding: 10px 80px;
}

#logo {
  padding: 10px 80px;
}

footer {
  background:black;
  height: 100px;
  position: fixed;
  padding: 30px 80px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

span {
  color: rgb(0,255,255);
}

.epi-viewer {
  padding: 20px 80px;
}

.episode {
  color: whitesmoke;
  margin-bottom: 24px;
  border-left: 1px solid whitesmoke;
  padding-left: 8px;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.episode_link {
  text-transform: capitalize;
  margin-bottom: 8px;
}

.episode_link:hover {
  cursor: pointer;
}

.episode_link span {
  text-transform: none;
  font-style: italic;
  margin-left: 8px;
}

.episode_link > h4 {
  display: inline;
}

.episode_full {
  background: rgba(227, 218, 189, .5);
  padding: 24px;
  margin: 16px 0;
}

.episode_full > h4, h5 {
  color: rgb(126, 77, 24);
  font-size: 24px;
}

.episode_full > h5 {
  color: rgb(126, 77, 24);
  font-size: 14px;
  font-style: italic;
  margin-bottom: 12px;
}

.episode_closer {
  margin: 0 0 24px 0;
}

.user_controls {
  margin: 24px 0 0 0;
}

button {
  padding: 4px 8px;
  background:whitesmoke;
  margin-right: 16px;
}


.list_title {
  color: rgb(43, 90, 110);
  margin-bottom: 12px;
}

.main_title,
.list_title,
.contribute_title {
  margin-bottom: 12px;
}

.episodeCreator {
  padding: 20px 40px;
  background: whitesmoke;
  margin: 16px 0;
}

.episodeCreator h5 {
  font-size: 14px;
  margin: 4px 0;
}

.episodeForm > input {
  width: 100%;
  padding: 4px;
  background: rgb(227, 218, 189);
}

.episodeForm > input[type="submit"] {
  width: 25%;
  margin: 12px 0;
  background: rgb(227, 218, 189);
}

.episodeForm > textarea {
  width: 100%;
  min-height: 160px;
  padding: 4px;
  resize: vertical;
  background: rgb(227, 218, 189);
}

.guest-invitation p {
  color: rgb(206, 108, 2);
}

.login {
  margin: 30px 80px;
}

#episodes {
  background: rgb(3, 116, 116);
  position: sticky;
  top: 33vh;
  left: 0;
  width: 100%;
  z-index: 3;
  min-height: 67vh;
}

#contributors {
  background: seagreen;
  position: sticky;
  top: 33vh;
  left: 0;
  width: 100%;
  z-index: 5;
  min-height: 67vh;
  padding: 30px 80px;
}

.mainNav {
  color: rgb(227, 218, 189);
}